nav{
    background-color: lightgray;
    /* border: 2px solid red; */
    /* width: 1300px; */
    /* margin: 0px auto; */
}
a{
    color: #444;
    text-decoration: none;
}
nav ul{
    padding-left: 0px;
    /* border: 2px solid black; */
    text-align: center;

}
p{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 5px;
}
nav li{
    display: inline-block;
    list-style: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    margin: 10px 10px;
    text-transform: uppercase;
}
section{
    margin-top: 50px;
    /* border: 1px solid black; */
    padding: 0px 10px;
}
h2{
    border-bottom: 1px solid #444;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1300px;
    margin: 0px auto;
}
#about{
    border: 20px solid  black;
    padding: 50px;
    background-color: aqua;

}

input:focus{
    padding: 10px;
}
/* :root{
    color: white;
    background-color:black;
} */
 h2::first-letter{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact ::before{
    content: 'hello';
    display: block;
    border: 1px solid red;
    padding: 10px;
}
#home:active{
    color: black;
}
img{
    display: block;
    width: 500px;
    margin: 10px auto;
}
